.body {
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
    background: linear-gradient(45deg, #e8f3ec 20%, white 60%, powderblue 100%);
    background-repeat: no-repeat;
}