@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Montserrat.css);
@import url(./blocks/body/body.css);
@import url(./blocks/header/header.css);
@import url(./blocks/contacts-block/contacts-block.css);
@import url(./blocks/contacts-block/__button/_tel/contacts-block__button_tel.css);
@import url(./blocks/contacts-block/__button/_chat/contacts-block__button_chat.css);
@import url(./blocks/contacts-block/__button/_leed/contacts-block__button_leed.css);
@import url(./blocks/contacts-block/__list-item/_chat/contacts-block__list-item_chat.css);


button, 
button:active, 
button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

