.popup-phone__closed {
    height: 55px;
    width: 55px;
    background-image: url(../../../images/Close-Icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
}

.popup-phone__closed:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}