@import url(./__image/info__image.css);
@import url(./__box/info__box.css);
@import url(./__title/info__title.css);
@import url(./__box-image/info__box-image.css);
@import url(./__subtitle/info__subtitle.css);
@import url(./__list/info__list.css);
@import url(./__list-item/info__list-item.css);
@import url(./__list-text/info__list-text.css);

.info {
    width: 100%;
    max-width: 1024px;
    margin: 50px auto;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

@media screen and (max-width: 800px) {
    .info {
        justify-content: center;
    }
} 